@use "../../scss/" as *;
button{
    cursor:pointer;
    font-family: $font-family;
}
.btn{
    border: 2px solid blueviolet;
    background-color: blueviolet;
    color: whitesmoke;
    border-radius: $border-radius;
    padding: 0.5rem 1.8rem;
    font-size: 1.5rem;
    font-weight: 600;
    transition: background-color 0.3s ease;
    position: relative;
}
.btn:hover{
    background-color: transparent;
    color: blueviolet;

}
.btn-outline{
    border: 3px solid whitesmoke;
    background-color: transparent;
    color: whitesmoke;
    box-shadow: unset;
    transition: color 0.5s ease, background-color 0.5s ease;
}
.btn-outline:hover{
    box-shadow:unset;
    color: blueviolet;
    background-color: whitesmoke;
}
.btn.small{
    border-width: 2px;
    padding: 0.25rem 1.5rem;
    font-size: 1rem;
}