$body-bg: black;
$main-color:red;
$txt-color:white;
$box-shadow:rgba(100,100,111,0.2);
$header-height: 8rem;
$header-shrink-height:5rem;
$border-radius:30px;
$mobile-width:600px;
$tablet-width:1024px;
$font-family:"Montserrat",sans-serif; 